{{- $dateTag := printf `<time datetime="%s">%s</time>` (.Date.Format "2006-01-02") (.Date.Format "02.01.2006") -}}
{{- $subtitle := printf `<i class="bi bi-calendar-date"></i> %s` $dateTag -}}
{{- with .Params.tags -}}
    {{- $links := slice -}}
    {{- range . -}}
        {{- $tagName := . -}}
        {{- with site.GetPage (printf "tags/%s" $tagName) -}}
            {{- $links = $links | append (printf `<a href="%s">#%s</a>` .RelPermalink $tagName) -}}
        {{- else -}}
            {{- $links = $links | append (printf "#%s" $tagName) -}}
        {{- end -}}
    {{- end -}}
    {{- $subtitle = printf `%s <i class="bi bi-tag"></i> %s` $subtitle (delimit $links " ") -}}
{{- end -}}
{{- $subtitle | safeHTML -}}
