{{ define "main" }}

<main class="single">
    <header>
        <h1>{{ if .Draft }}DRAFT · {{ end }}{{$.Title}}</h1>

        {{ partial "article-nav.html" . }}

	   <div class="meta">
            <time datetime="{{.Date}}">{{.Date.Format "02.01.2006"}}</time> 
            ·

			{{ partial "tags-span.html" . }}

            {{ with .GitInfo }}
            ·
            Modified: <time datetime="{{ $.GitInfo.AuthorDate}}">{{ $.GitInfo.AuthorDate.Format "January 2, 2006 15:04"}}</time>
            ·
            <a href="https://github.com/rumpelsepp/blog/commit/{{ $.GitInfo.Hash }}">{{ $.GitInfo.AbbreviatedHash }}</a>
            {{ end }}
		</div>
    </header>
    <article>
        {{ .Content }}
    </article>
    <footer>
        {{ partial "article-nav.html" . }}
    </footer>
</main>

{{ partial "related.html" . }}

{{ end }}
