{{ define "main" }}

<article class="content">
    <header>
        <div class="mb-4">
            {{ partial "article-nav.html" . }}
        </div>

        <hgroup>
            <h1 {{ if .Draft }}class="draft" {{ end }}>{{ $.Title }}</h1>

            <p class="text-body-secondary">
                {{ partial "subtitle.html" . }}
            </p>
        </hgroup>
    </header>
    
    {{ if and (.Params.toc) (ne .TableOfContents "") }}
      <nav class="table-of-contents">
        {{ .TableOfContents }}
      </nav>
      <hr>
    {{ end }}

    {{ .Content }}
    <footer>
        {{ partial "article-nav.html" . }}
    </footer>
</article>

{{ partial "related.html" . }}
{{ end }}
