<!doctype html>
<html lang="{{ $.Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if $.Params.noindex }}
  {{ end }}
  <title>{{ block "title" . }}
    {{ .Title }}
    {{ end }}
  </title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />

{{ partial "opengraph.html" . }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

  {{ $favicon := resources.Get "favicon.png" }}
  <link rel="icon" type="image/png" sizes="16x16" href="{{ ( $favicon.Fill "16x16" ).Permalink }}">
  <link rel="icon" type="image/png" sizes="48x48" href="{{ ( $favicon.Fill "48x48" ).Permalink }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ ( $favicon.Fill "192x192" ).Permalink }}">


  {{ $style := resources.Get "/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>

    <header class="main-header">
        <nav>
            <a href="{{ "" | absURL }}">beehen.de</a>
            ·
            <a href="{{ "tags" | absURL }}">#tags</a>
        </nav>
    </header>

    {{ block "main" . }}
    {{ end }}

    <footer class="main-footer">
    <p xmlns:cc="http://creativecommons.org/ns#" >This work is licensed under <a href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"></a></p>
    <a href="{{ "impressum" | absURL }}">Impressum</a>
    </footer>
</body>
</html>