:root {
}

html {
    font-family: sans-serif;
}

body {
    max-width: 920px;
    margin: 0 auto;
    padding: 1rem;
}

main {
    article.content {
        text-align: justify;
        hyphens: auto;
    }
}

.main-header {
    a,
    a:visited {
        color: inherit;
    }

    nav {
        margin-bottom: 1.5rem;

        a {
            text-decoration: none;
        }
    }
}

.info {
    padding: 1rem;
    // …border: 1px dotted;
    border-left: 0.2rem solid;
    background-color: rgb(227, 227, 227);

    .gscheidhaferl {
        font-size: 1.4rem;
        font-weight: bold;
    }
}

.related {
    margin-top: 2rem;
    border-left: none;
}

.container {
    display: flex;

    .ninety {
        @media(min-width: 576px) {
            width: 90%;
        }
    }

    .eighty {
        @media(min-width: 576px) {
            width: 80%;
        }
    }

    .seventy {
        @media(min-width: 576px) {
            width: 70%;
        }
    }

    .sixty {
        @media(min-width: 576px) {
            width: 60%;
        }
    }

    .fifty {
        @media(min-width: 576px) {
            width: 50%;
        }
    }

    .forty {
        @media(min-width: 576px) {
            width: 40%;
        }
    }

    .thirty {
        @media(min-width: 576px) {
            width: 30%;
        }
    }

    .twenty {
        @media(min-width: 576px) {
            width: 20%;
        }
    }

    .ten {
        @media(min-width: 576px) {
            width: 10%;
        }
    }
}

.container-non-responsive {
    display: flex;

    .ninety {
            width: 90%;
    }

    .eighty {
            width: 80%;
    }

    .seventy {
            width: 70%;
    }

    .sixty {
            width: 60%;
    }

    .fifty {
            width: 50%;
    }

    .forty {
            width: 40%;
    }

    .thirty {
            width: 30%;
    }

    .twenty {
            width: 20%;
    }

    .ten {
            width: 10%;
    }
}

.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}


.flex-column {
    @media(max-width: 576px) {
        flex-direction: column;
    }
}

.index {
    display: flex;

    .article-list {
        flex-grow: 1;

        article {
            padding: 1.5rem;
            margin-bottom: 2rem;

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;

            header {
                font-size: 1.4rem;

                aside.post_image {
                    padding-right: 1rem;
                }

                time {
                    display: block;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

                .tags {
                    font-size: 1rem;
                    color: rgb(69, 69, 69);
                    margin-top: 0.5rem;

                    a {
                        text-decoration: none;
                        color: inherit;
                    }

                    a:hover {
                        color: black;
                    }
                }
            }
        }
    }
}

.single>header {
    // border-bottom: 1px dashed;
    margin-bottom: 2.5rem;

    .meta,
    .tags {
        color: rgb(69, 69, 69);
    }

    .tags {
        a {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            color: black;
        }
    }
}

.single {
    header {
        nav.article-nav {
            margin-top: 1rem;
        }

        .tags {
            //margin-bottom: 1rem;
        }
    }

    footer {
        nav.article-nav {
            margin-top: 1rem;
        }
    }

    article {
        margin: 0 auto;

        img,
        video {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .footnotes {
        font-size: 0.75rem;
    }
}

footer.main-footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
}

.text-center {
    text-align: center;
}
