<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if $.Params.noindex }}
  <meta name="robots" content="noindex">
  {{ end }}
  <title>{{$.Title}}</title>
  <meta name="description" content="{{$.Summary}}">

  <meta property="og:title" content="{{$.Title}}">
  <meta property="og:description" content="{{$.Summary}}">
  {{ if isset .Params "post_image"}}
  <meta property="og:image" content="{{absURL $.Params.post_image}}">
  {{ end }}
  <meta property="og:type" content="website">
  <meta property="og:locale" content="de_de">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{absURL "index.xml"}}">
  <link rel="icon" type="image/png" href="/favicon-96x96.png">
  {{ $style := resources.Get "/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
