{{- define "_partials/inline/gallery/card-content.html" }}
  {{ $text := or .Params.description .Summary }}
  {{ $text = $text | plainify | strings.Truncate 200 }}

  <p>{{ $text }}</p>
{{- end }}

{{ define "main" }}
<article class="content">
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  
  {{ with .Params.Description }}
      <p class="lead">
        {{ . }}
      </p>
  {{ end }}

  {{ .Content }}

  {{ range $i, $p := (where .Site.RegularPages "Section" "blog") }}
    {{ if eq (mod $i 2) 0 }}
      <div class="row">
    {{ end }}
    
    {{ $title := $p.Title }}
    {{ if $p.Draft }}
        {{ $title = printf "✍️ %s" $title  | safeHTML }}
    {{ end }}
    
    {{ $context := dict
      "cardClass" "mb-4"
      "title" $title
      "subtitle" (partial "subtitle.html" $p)
      "content" (partial "inline/gallery/card-content.html" $p)
      "url" $p.RelPermalink
    }}

    {{ with $p.Resources.GetMatch (default "feature.jpg" ($p.Param "image")) }}
      {{ $card := (.Filter images.AutoOrient).Resize "800x webp" }}
      {{ $context = merge $context (dict "image" $card.RelPermalink) }}
    {{ end }}

    <div class="col-md-6">
      {{ partial "card.html" $context }}
    </div>

    {{ if or (eq (mod (add $i 1) 2) 0) (eq (add $i 1) (len (where .Site.RegularPages "Section" "blog"))) }}
      </div>
    {{ end }}
  {{ end }}
</article>
{{ end }}
